<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=http;AccountName=deftgeneralstorage;AccountKey=Q8ZxP6sbmbAJy4jzTGxlxpkD7ki0zh/yHCDyI/Sme7uk22CkGuJ3n4YHg1Oi9UWEnlDC0Fc8spZjJI5DQ9bp5w==;"/>    
  </appSettings>
</configuration>
